<div class="container mt-5">
    
    <div class="row">
        
        
        <div class="col-sm-4">
            
            
            <div class="card">
                
                <div class="card-header">
                    
                    <h3>Burgers</h3>
                
                </div>
                <div class="card-body">
                    <ol>
                        {{#each burgers}}
                        {{#unless devoured}}
                       <h1> {{this.burger_name}} 
                           <button type="button" class="devour-burger btn btn-danger mb-3" id="devour-btn"
                            data-id="{{this.id}}" data-newDevoured="{{devour}}">
                            Devour ME!!
                        </button>
                       </h1>
                        {{/unless}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="jumbotron">
                
                <h2><i class="fas fa-hamburger"></i> Add a Burger</h2>
                <form class="create-form">
                    <div>
                       <input type="text" id="burger" name="name">
                    </div>
                    <button class="submit" type="submit"><i class="fas fa-hamburger"></i></button>
                </form>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h3>Eaten</h3>
                </div>
                <div class="card-body">
                    <ol>
                        {{#each burgers}}
                        {{#if devoured}}
                        <p>{{burger_name}}</p>
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>